/* Start  Registration page css */
.error{
    color: red;
  }
/*
  label.error{
    color: var(--color_gray);
    background-color: #FBE1E1;
    padding: 3px 5px;
    margin-top: 2px;
  } */
  label.error{
    color: #F00;
    padding: 3px 5px 3px 0px;
    margin-top: 2px;
  }
#password-strength-status, #password-strength-status-confirm {
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 5px;
}
.medium-password {
    color: #ffb100;
}
.strong-password {
    color: #0f8f2c;
}
.weak-password {
    color: #f00;
}
#customer_or_tradesperson-error {
    position: absolute;
    margin-top: 24px;
}
.remove-row {
    cursor: pointer;
}
/* .medium-password {
    background-color: #fd0;
}

.weak-password {
    background-color: #FBE1E1;
}

.strong-password {
    background-color: #D5F9D5;
}
*/
/* end  Registration page css */
#my_camera_video{
  position: relative;
}
.video-record-loading{
  position: absolute;
  width: 10%;
  left: 5px;
  top: 10px;
}
#video-captutes li{
  float: left;
  width: 45%;
  margin: 10px;
}
#video-captutes li video{
  margin: 0;
  border: 1px solid #000;
  padding: 0;
  width: 100%;
  border-radius: 10px;
}
.capture-image-level{
  color: #0d0d0d;
  background: #ccc;
  border-radius: 6px;
  font-size: 14px;
  padding: 1px 3px;
  margin-top: 3px;
}
.capture-image-delete{
  float: right;
  padding: 0 2px;
  border-left: 2px solid #e0e0e0;
  font-size: 18px;
  cursor: pointer;
}
textarea.description{
  width: 100%;
  height: 200px;
}
video.customer-video{
  margin-top:0;
}
.video-upload-loading{
  width: 20%;
  margin-top: -3px;
}
#getfilesformdb video{
  width: 100%;
  border-radius: 10px;
}
#getfilesformdb .customer_img_project{
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

.rectangle-video-lg {
    width: 200px !important;
    height: 138px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 0 !important;
}

.center-svg {
    vertical-align: -50%;
}

.h-95 {
    height: 95% !important;
}

.pagination a.active_pagination svg path {
    fill: var(--primary_color);
}

.pagination a.disabled_pagination svg path {
    fill: #BDBDBD;
}
.contin_ {
    width: 200px;
}
.warning_svg{
    margin-left: 15px;
}
.verify_text{
    margin-left: -12px;
    margin-top: 5px;
    color:rgb(241, 121, 9);
}
.white_box{
    margin-top: -47px;
}
.WordSection1 p{
    /* font-weight: 400; */
    text-align: justify;
    font-size: 11.0pt;
    font-family: "Arial",sans-serif;
}

.header_wishlist a, .header_wishlist a:hover{
    transition: all 0s !important;
}

::-ms-reveal {
    display: none;
}


.sort-code {
    border-bottom: 1px solid #4f4f4f;
    margin-left: 0px;
}

.sort-code .label {
    padding-left: 0px;
    padding-right: 0px;
}

.sort-code input {
    border-bottom: none !important;
    margin-bottom: 10px !important;
    width: 2ch;
}

.sort-code label {
    border-radius: 0px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #6d717a;
    padding: 5px 0;
    height: auto;
    appearance: auto;
}

.mr-15 {
    margin-right: 15px;
}

.disable-btn:disabled {
    background-color:#e0e0e0;
    color:var(--btn-primary);
    border: 1px solid var(--btn-primary);
    font-weight: 600;
}

.wrap-word {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.max_file_size_ {
    font-weight: 400;
    color: #6d717a;
    margin-left: 6px;
}
.before_approved_trader{
    color:rgb(9, 137, 241);
}
.fs-16 {
    font-size: 16px !important;
}

.sized-hidden{
    overflow-y: scroll;
    max-height: 450px;
}

.mail_confirmation{
    font-size: 18px;
}

.hover-transition-off {
    transition: none !important;
}

.file-logo:hover svg path {
    fill: var(--primary_color);
}
a.custom-bell-style:hover svg path {
    fill: var(--color_orange);
}

.msg-area .tick img {
    max-width: 50px;
}
